<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact US</title>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/app.css" />
	<!-- Material Design Bootstrap -->
	<link rel="stylesheet" href="css/mdb.min.css" >
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="Content/app.css">
    <style>
        html,
        body,
        header,
        .jarallax {
          height: 100%;
        }
         @media (max-width: 740px) {
		      html,
		      body,
		      header,
		      .jarallax {
		        height: 815px;
		      }
		    }

		    @media (min-width: 800px) and (max-width: 850px) {
		      html,
		      body,
		      header,
		      .jarallax {
		        height: 600px;
		      }
		    }

		    @media (min-width: 800px) and (max-width: 850px) {
	        .navbar:not(.top-nav-collapse) {
	            background: #7d8488!important;
	        }
	        .navbar {
	          box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
	        }
	    }

		.glow {
     color: #CEF0D4;
     font-size: 30px;
     font-weight: normal;
     line-height: 48px;
     top:5px;
     left:25px;
     text-shadow: 1px 1px 2px black;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
    </style>
</head>


<body class="model">

    <header>
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
		    <div class="container">
		        <a class="navbar-brand" href="#">LOA with Rupali</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		        </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/"><i class ="fa fa-thin fa-lg fa-home"></i> Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/podcasts"><i class="fas fa-lg fa-podcast"></i> Podcasts</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/courses"><i class="fas fa-lg fa-university"></i> Courses</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/books"><i class="fas fa-lg fa-book-open"></i> Books</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/challenges"><i class="fas fa-lg fa-running"></i> Challenges</a>
                          </li>
                          
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             <i class="fas fa-dolly-flatbed"></i> Shop
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/shop">Action</a></li>
                              <li><a class="dropdown-item" href="/shop/anotheraction">Another action</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="/shop/someother">Something else here</a></li>
                            </ul>
                          </li>
                          <!-- <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                          </li> -->
                        
		            </ul>
		            <!-- Social Icon  -->
		            <ul class="navbar-nav nav-flex-icons">
		                
						<li class="nav-item">
							<a data-toggle="tooltip" title="" href="https://www.linkedin.com/in/sidharth-choudhary-b67096b8/" target="_blank" class="nav-link waves-effect waves-light" data-original-title="LinkedIn">
								<i class="fab fa-linkedin light-green-text-2"></i>
							</a>
						</li>
						<li class="nav-item">
							<a data-toggle="tooltip" title="" href="https://www.instagram.com/loawithrupali/" target="_blank" class="nav-link waves-effect waves-light" data-original-title="Github">
								<i class="fab fa-github light-green-text-2"></i>
							</a>
						</li>
						<li class="nav-item">
							<a data-toggle="tooltip" title="" href="https://www.instagram.com/loawithrupali/" target="_blank" class="nav-link waves-effect waves-light" data-original-title="LinkedIn">
								<i class="fab fa-facebook light-green-text-2"></i>
							</a>
						</li>
		                <li class="nav-item">
							<a data-toggle="tooltip" title="" href="https://www.instagram.com/loawithrupali/" target="_blank" class="nav-link waves-effect waves-light" title="LinkedIn">
								<i class="fab fa-instagram light-green-text-2"></i>
							</a>
						</li>
		               
		            </ul>
		        </div>
		    </div>
		</nav>
		<div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('Assets/lawofattraction.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
		    <div class="rgba-black-slight h-100 d-flex justify-content-center align-items-center">
		        <div class="container" >
                    <div class="jumbotron">
                        <div class="white-text text-center">
                          
                                <h2 class="display-2  mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;" >
                                    <span style="font-size:3vw;">Connect with<strong> US </strong>on</span>
                                    <!--<h3 class="text-uppercase font-weight-bold my-5 wow fadeIn" data-wow-delay="0.4s" ><mark style="background-color: rgba(248,192,67,.7);">Software Engineer</mark></h3>-->
                                    <a href="https://www.instagram.com/loawithrupali/" class="btn btn-outline-white ">Instagram</a>
                                    <a href="https://www.youtube.com/channel/UCQniq3cGgqM1u5eofbuSlWg" data-offset="30" class="btn btn-outline-white">Youtube</a>
                                </h2>
                            
                                <h2 class="display-2  mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;" >
                                    <span style="font-size:3vw;">Get the official app Now!!</span> </h2>
                                    <!--<h3 class="text-uppercase font-weight-bold my-5 wow fadeIn" data-wow-delay="0.4s" ><mark style="background-color: rgba(248,192,67,.7);">Software Engineer</mark></h3>-->
                                    <a href="https://www.instagram.com/loawithrupali/" data-offset="30" class="btn btn-outline-white">App Store</a>
                                    <a href="https://www.youtube.com/channel/UCQniq3cGgqM1u5eofbuSlWg" data-offset="30" class="btn btn-outline-white">Google Play Store</a>
                               
							
                        </div>
                    </div>
		        </div>
		    </div>
		</div>
    </header>

    <div class="container">
    <!--Section: Contact v.2-->
    <section id="contact" class="section mb-4">

        <!--Section heading-->
        <h1 class="section-heading text-center mb-5 mt-5 pt-4 wow fadeIn">Contact US</h1>
        <!--Section sescription-->
        <p class="text-center w-responsive mx-auto m-b-5 wow fadeIn" data-wow-delay="0.2s">
        <span class="text-uppercase font-weight-bold my-5 wow fadeIn">Leave us a Message! <br></span>
        Success Stories, new Ideas are Welcome. 
        </p>


    <div class="row">

        <!--Grid column-->
        <div class="mb-12">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
               <!-- <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>-->
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>
            <p>
                <span class="font-weight-bold my-5 wow fadeIn">P.S. You can even write if you seek help.</span>
            </p>
            <div class="text-center text-md-3">
                <button type="submit" class="btn btn-elegant btn-outline-warning waves-effect">
                    <i class="fas fa-edit"></i> Send </button>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
       <!-- <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>San Francisco, CA 94126, USA</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>contact@mdbootstrap.com</p>
                </li>
            </ul>
        </div>-->
        <!--Grid column-->

    </div>

</section></div>
<!--Section: Contact v.2-->

<!-- SCRIPTS -->
      <script src="jquery/dist/jquery.min.js"></script>
      <script src="bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="@fortawesome/fontawesome-free/js/all.js"></script>
      <script src="Scripts/app.js"></script>
	<!-- JQuery -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="js/popper.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="js/mdb.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="bootstrap.min.js"></script>
	

</body>
</html>